{% extends "AppRitual/templatePadre.html" %}
{% load static %}
{% block title %}Publicación | AppRitual{% endblock %}

{% block welcome_message %}
<div style="display: flex; flex-direction:column; justify-content:center; align-content:center;text-align:center ">
  <h1 style="color: #b8860b;">{{ blog.titulo }}</h1>
  <p><strong>{{ blog.autor }}</strong> | <span style="color: #D5DBDB;">{{ blog.fechaPublicacion }}</span></p>
  <br><br>
  <p>{{ blog.subtitulo }}</p>
  <br>
  <div style="margin: 0 auto;">
    <p style="padding: 5px 100px; text-align:left">{{ blog.cuerpo }}</p>
  <br>
    {% if blog.imagen %}
      <img src="{{ blog.imagen.url }}" alt="Imagen del blog" style=" width: 60%; aspect-ratio:16/9; object-fit:contain;">
    {% endif %}
  </div>
  {% if blog.video %}
    <video controls style="max-width: 100%;">
      <source src="{{ blog.video.url }}" type="video/mp4">
    </video>
  {% endif %}

  {% if blog.archivo_pdf %}
    <a href="{{ blog.archivo_pdf.url }}" target="_blank">Abrir PDF</a>
  {% endif %}

  <br><br>
  <!-- lógica para evitar que cualquiera borre un post -->
  {% if user.id == blog.autor_id %}
    <a href="{% url 'editarBlog' blog.id %}" style="background-color: #ffd700; color: black; padding: 10px 20px; border-radius: 5px; font-size: 11px; font-weight: bold; text-transform: uppercase; text-decoration: none;">Editar</a>
    <br>
    <a href="{% url 'eliminarBlog' blog.id %}" style="background-color: red; color: black; padding: 10px 20px; border-radius: 5px; font-size: 11px; font-weight: bold; text-transform: uppercase; text-decoration: none;">Eliminar</a>
  {% endif %}
  <br><br>
  <a href="{% url 'comentarBlog' blog_id=blog.id %}" style="background-color: #48B7CD; color: black; padding: 10px 20px; border-radius: 5px; font-size: 11px; font-weight: bold; text-transform: uppercase; text-decoration: none;">Comentar</a>
  <br>

<!-- Bloque de comentarios -->
{% if comentarios %}
  <h1 style="color: white; font-weight:bold; margin-bottom: 30px; color: #b8860b;">Comentarios</h1><br>
  <table style="width: 100%; border-collapse: collapse;">
    <tbody>
      {% for comentario in comentarios %}
        <tr>
          <td style="border-top: 1px solid rgb(34, 34, 34); padding: 10px 0;">
            <p><strong>{{ comentario.autor }}</strong> | <span style="color: #D5DBDB;">{{ comentario.created_at }}</span></p>
            <p>{{ comentario.cuerpo }}</p>
          </td>
        </tr>
        <tr>
          <td style="border-bottom: 1px solid rgb(34, 34, 34); height: 10px;"></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p>No hay comentarios todavía.</p>
{% endif %}


</div>
{% endblock %}
