{% extends "AppRitual/templatePadre.html" %}
{% load static %}
{% block title %}Eliminar Comentario | AppRitual{% endblock %}

{% block welcome_message %}
  <h1 style="color: #b8860b;">Eliminar Comentario</h1>
  <br>
  <p>¿Estás seguro de que deseas eliminar este comentario?</p>
  <br>
  <form method="post">
    {% csrf_token %}
      <button type="submit" style="background-color: #ffd700; color: black; padding: 10px 20px; border-radius: 5px; font-size: 11px; font-weight: bold; text-transform: uppercase; border: none; cursor: pointer;margin-left: 125px">Eliminar</button>
  </form>
  <br>
{% endblock %}
