<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Password Exitoso | AppRitual</title>

    {% extends "AppRitual/templatePadre.html" %}
    {% load static %}

</head>
<body>
    <div class="container">
        <div class="message">
            {% block welcome_message %}
                <h2 style="color: #b8860b; text-align: center; margin: 50px 0;">¡El cambio de contraseña se ha realizado con éxito!</h2>
            {% endblock %}
        </div>
    </div>
</body>
</html>
