{% extends "AppRitual/templatePadre.html" %}
{% load static %}
{% block title %}Editar Perfil | AppRitual{% endblock %}

{% block welcome_message %}
    <div>
        <h1 style="color: #b8860b;">Editar Perfil</h1>
        <br>
        <h2>{{ user.username }}</h2>
        <br>
        <form method="POST">
            {% csrf_token %}
            <table>
                <tbody>
                <tr>Usuario: {{form.username}}</tr><br>
                <tr>Nombre: {{form.first_name}}</tr><br>
                <tr>Apellido: {{form.last_name}}</tr><br>
                <tr>Email: {{form.email}}</tr><br>
                <tr>{{ perfil_form.as_p }}</tr>
            </tbody>
            </table>
            <br>
            <input type="submit" value="Guardar Cambios" style="background-color: #ffd700; color: black; padding: 10px 20px; border-radius: 5px; font-size: 11px; font-weight: bold; text-transform: uppercase; border: none; cursor: pointer; margin-top: 10px;">
        </form>
        <br>
       <a href="{% url 'changePassword' %}" style="background-color: #ffd700; color: black; padding: 10px 20px; border-radius: 5px; font-size: 11px; font-weight: bold; text-transform: uppercase; border: none; cursor: pointer; margin-top: 10px;"> Cambiar Contraseña</a>
    </div>
    <br>
{% endblock %}
